{% include "device.j2" %}

{% include "breakout.j2" %}

{% include "port.j2" %}

{% include "portchannel.j2" %}

{% include "vlan.j2" %}

{% include "vrf.j2" %}

{% include "interface.j2" %}

{% include "sag.j2" %}

{% include "mclag.j2" %}

{% include "vxlan.j2" %}
