{% block vxlan %}
{% if VXLAN_TUNNEL is defined %}
{# # vxlan vtep configuration #}
{%   for (vtep, cfg) in VXLAN_TUNNEL.items() %}
config vxlan add {{ vtep }} {{ cfg.src_ip }}
{%   endfor %}

{% endif %}
{% if VXLAN_EVPN_NVO is defined %}
{# # vxlan nvo configuration #}
{%   for (nvo, cfg) in VXLAN_EVPN_NVO.items() %}
config vxlan evpn_nvo add {{ nvo }} {{ cfg.source_vtep }}
{%   endfor %}

{% endif %}
{% if VXLAN_TUNNEL_MAP is defined %}
{# # vxlan vlan-vni map configuration #}
{%   for map in VXLAN_TUNNEL_MAP.values() %}
config vxlan map add {{ map.vlan| replace('Vlan', '') }} {{ map.vni }}
{%   endfor %}
{% endif %}
{% endblock vxlan %}

{% if VRF is defined %}
{# # vxlan vrf vni map #}
{%   for (vrf, vals) in VRF.items() %}
{% if vals.vni is defined %}
config vrf add_vrf_vni_map {{vrf}} {{vals.vni}}
{% endif %}
{%   endfor %}
{% endif %}